* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.nav-top {
    
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    
    gap: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    
    background-color: black;
    
}


.nav-top .top-button{
    padding: 5px;
    background-color: gray;
    border-radius: 6px;
    color: white;
}

#cards-container {
    
     padding-top: 50px; 
     padding-bottom: 10px;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
} 

#cards-container .col {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    overflow: auto; 
    display: flex;
    flex-wrap: wrap;

 }

 #cards-container .col .col-inner {
    padding-top: 10px;
    
 }



 #cards-container .col  .tag {

    color: white;

    background-color:darkgrey;


    position: absolute;
    bottom: 4px;
    left: 0px;

 }

 .col .tag .unmute {
    padding: 4px;
 }


 /* inizio navbar-inferiore */
 nav {
    position: fixed;
    z-index: 2; 
    width: 100%;
    background-color: #222222;
    height: 90px;
    display: flex;
    bottom: 0vh;
    justify-content: space-between;

 }

nav ul {
    color: white;
    list-style-type: none;
    display: flex;
    
    
}

nav ul li {
    display: flex;
    text-align: center; 
    
     flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}

 ul li .fa  {
    font-size: 26px;
 }

 ul li .fa-share-square-o {
    color: #4bc800;
 }


 nav ul li i {
    font-size:x-large;
    padding: 10px;
} 

.end-meeting {
    background-color: #4a4a4a;
    color: red;
    padding: 21px 34px;
}
